<h1>Restaurant</h1>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
    <%= link_to  "borrar", restaurant_path(restaurant.id), method: :delete, data: { confirm: "estas seguro?" } %>
  <% end %>
</ul>
<p><%= link_to "New restaurants", new_restaurant_path, class: "btn btn-primary"%></p>
